
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #CFB87C;">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="/">
        <img src="/resources/img/homeicon.png" alt="Home" width="30" height="30" class="d-inline-block align-top">
      </a>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- Search bar -->
        <form class="d-flex me-auto ms-3" action="/search" method="GET" role="search">
          <div class="input-group">
            <select class="form-select" name="searchType" style="max-width: 140px;">
              <option value="users" {{#if isUserSearch}}selected{{/if}}>Users</option>
              <option value="titles" {{#if isTitleSearch}}selected{{/if}}>Post Titles</option>
              <option value="tags" {{#if isTagSearch}}selected{{/if}}>Tags</option>
            </select>
            <input type="search" class="form-control" name="searchQuery" placeholder="Search..." value="{{searchQuery}}" required>
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </div>
        </form>

        <!-- Navigation links -->
        <ul class="navbar-nav ms-auto align-items-center">
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="/messages">
                <img src="/resources/img/messages.png" alt="Messages" width="30" height="30">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post">
                <img src="/resources/img/add.png" alt="Post" width="30" height="30">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">
                <img src="/uploads/{{user.profile_image}}" alt="Profile" width="30" height="30" class="profile-pic-header">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <img src="/resources/img/logout.png" alt="Logout" width="30" height="30">
              </a>
            </li>
          {{else}}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          {{/if}}

          
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
