<div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required>
</div>

<div>
    <label for="description">Description</label>
    <textarea name="description" id="description" required></textarea>
</div>

<div>
    <label for="date">Date Created</label>
    <textarea name="date" id="date" required></textarea>
</div>

<div>
    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="painting">Painting</option>
        <option value="sculpture">Sculpture</option>
        <option value="photography">Photography</option>
        <option value="drawing">Drawing</option>
        <option value="pottery">Pottery</option>
        <option value="film">Film</option>
        <option value="digital_art">Digital Art</option>
        <option value="animation">Animation</option>
        <option value="architecture">Architecture</option>
    </select>
</div>

<div>
    <label for="photo">Upload Photo</label>
    <input type="file" name="photo" id="photo" accept="image/*" required>
</div>

