<div class="profile-card">
  <img src="/src/resources/defaultProfilePic.png" alt="Profile Picture" width="60" height="60" style="border-radius: 50%; margin-right: 15px;">
  <div class="username" style="font-size: 1.2em; font-weight: 600; color: #333;">@{{user.username}}</div>
</div>
