<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {{! {{> header (TODO: MAY NEED TO REMOVE HTML <> DEPENDING ON HOW HEADER IS MADE)}}
    {{! {{> message if we are doing messages}}
    <section class="profile">
        <img src="{{! {{ sql stuff}}" alt="Profile Photo" class="profile-photo">
        <button id="edit-profile-button" style="display:;">Edit Profile</button>

        <p>Username: {{!sql stuff for username}}</p>

        <div class="profile-info">
            <div class="info-row">
                <h1 id="display-name">{{! sql stuff for displayName}}</h1>
            </div>

            <div class="info-row">
                <h2>User Role:</h2>
            </div>
            <p id="user-role">{{! sql stuff for user role}}</p>

            <div class="info-row">
                <h2>Website:</h2>
            </div>
            <p id="website">{{! sql stuff for website}}</p>

            <div class="info-row">
                <h2>Location:</h2>
            </div>
            <p id="location">{{! sql stuff for location}}</p>

            <div class="info-row">
                <h2>Bio:</h2>
            </div>
            <p id="bio">{{! sql stuff for bio}}</p>

            <p>Contact me: <a href="mailto:{{email}}">{{email}}</a></p> {{! TODO: only employers can see}}
        </div>
    </section>

    <section class="posts">
        <h1>Posts</h1>
        {{!-- I will include the feed part here with a hard filter for this specific user --}}
    </section>
    
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Edit Profile</h2>

            <label for="edit-employment-status">Profile Picture:</label> {{! TODO: Add image stuff}}
            <input type="text" id="edit-profile-pic"><br><br>

            <label for="edit-display-name">Display Name:</label>
            <input type="text" id="edit-display-name"><br><br>

            <label for="edit-website">Website:</label>
            <input type="text" id="edit-website"><br><br>

            <label for="edit-location">Location:</label>
            <input type="text" id="edit-location"><br><br>

            <label for="edit-bio">Bio:</label><br>
            <textarea id="edit-bio" rows="4" cols="50"></textarea><br><br>

            <button id="save-profile-changes">Save Changes</button>
        </div>
    </div>
    <script src="/index.js"></script>
    {{! {{> footer}}
</body>
</html>