<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {{! {{> header (TODO: MAY NEED TO REMOVE HTML <> DEPENDING ON HOW HEADER IS MADE)}}
    {{! {{> message if we are doing messages}}
    <section class="profile"> {{! TODO: make edit buttons cleaner (ASK!) and sql stuff and edit buttons functional}}

        <img src="{{! {{ sql stuff}}" alt="Profile Photo" class="profile-photo">
        <button class="edit-button" onclick="{{! sql stuff for edit}}">Edit</button>

        <p>Username: {{!sql stuff for username}}</p>
        
        <div class="profile-info">
            <div class="info-row">
                <h1>{{! displayName}}</h1>
                <button class="edit-button" onclick="{{! sql stuff for edit}}"><img src="/resources/img/edit.png" alt="Edit"></button>
            </div>

            <div class="info-row">
                <h2>Bio:</h2>
                <button class="edit-button" onclick="{{! sql stuff for edit}}"><img src="/resources/img/edit.png" alt="Edit"></button>
            </div>
            <p>{{! sql stuff for bio}}</p>

            <div class="info-row">
                <h2>Employment Status:</h2>
                <button class="edit-button" onclick="{{! sql stuff for edit}}"><img src="/resources/img/edit.png" alt="Edit"></button>
            </div>
            <p>{{!sql stuff for employment status}}</p>

            <p>Contact me: <a href="mailto:{{email}}">{{email}}</a></p> {{! TODO: only employers can see}}
        </div>  
    </section>

    <section class="posts">
        <h1>Posts</h1>
        {{!-- I will include the feed part here with a hard filter for this specific user --}}
    </section>
    

    {{! {{> footer}}
</body>
</html>


{{! Things to do in meeting: Get database idea, get header and footer idea (for the <html> stuff), maybe style stuff}}