<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
  <div class="register-container">
    <h1 style="text-align: center;">Register</h1>

    {{#if message}}
    <div>{{message}}</div>
    {{/if}}

    {{#if success}}
    <div>{{success}}</div>
    {{/if}}

    <form action="/register" method="POST">
      <label for="accountType"style="color: white;"><strong>Account Type</strong></label>
      <select name="accountType" required>
        <option value="">Select account type</option>
        <option value="user">Artist</option>
        <option value="client">Client</option>
      </select>

      <label for="username"style="color: white;"><strong>Username</strong></label>
      <input type="text" name="username" required>

      <label for="email"style="color: white;"><strong>Email Address</strong></label>
      <input type="email" name="email" required>
      <div style="font-size: 0.9em;">We’ll never share your email.</div>

      <label for="password"style="color: white;"><strong>Password</strong></label>
      <input type="password" name="password" required>

      <label for="confirmPassword"style="color: white;"><strong>Confirm Password</strong></label>
      <input type="password" name="confirmPassword" required>

      <input type="hidden" name="isClientHidden" value="false">

      <div style="text-align: center; margin-top: 15px;">
        <button type="submit">Register</button>
      </div>
    </form>

    <p style="text-align: center; margin-top: 15px;">Already have an account? <a href="/login">Login here</a></p>
  </div>
</body>
</html>
