<h1>Search Results for "{{query}}"</h1>

{{#if results.length}}
    <ul>
        {{#each results}}
            <li>
                <strong>{{this.username}}</strong> - {{this.email}}
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No users found matching your search query.</p>
{{/if}}
